<div class="page-container">
  <h1 class="page-title">Plan your meals</h1>

  <div class="main-layout" cdkDropListGroup>

    <app-recipe-sidebar
      [allRecipes]="allRecipes()"
      [editMode]="editMode()">
    </app-recipe-sidebar>

    <app-planner-calendar
      [weeks]="calendarWeeks()"
      [viewMonth]="viewMonth()"
      [editMode]="editMode()"
      [savingDay]="savingDay()"
      [generating]="generating()"
      (drop)="onDrop($event)"
      (prevMonth)="prevMonth()"
      (nextMonth)="nextMonth()"
      (toggleEdit)="toggleEdit()"
      (generatePlan)="generate($event)">
    </app-planner-calendar>

  </div>
</div>
